/* colors */

:root {
  --color_highlight: #E57A10;
  --color_plain_text: #FFFCE8;
  --color_background: #333333;
  --color_code: #594C4D;
  --color_title: #CE6C47;
  --color_white: #FAFAFA;
  --color_gray: #FFFCE8;
}


/* base layout */

p, h1, h2, h3, h4, h5, h6, blockquote, figure, div {
  line-height: 1.4;
}

.separator::after {
  content: ":";
}

html, body {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  width: 100%;
  max-width: 900px;
  margin: auto;
  background-attachment: fixed;
  background-repeat: repeat;
  background-color: #F4F6F0;
  background-color: #FAFAFA;
  background-color: var(--color_background);
}

body {
  background: var(--color_background);
  font-family: Consolas, Monaco, "DejaVu Sans Mono", "Courier New", monospace;
  font-size: 17px;
  line-height: 1.5;
  padding: 2.5em;
  max-width: 100%;
  font-weight: 400;
  color: var(--color_plain_text);
}


/* header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #777;
  font-size: 17px;
  line-height: 1.5;
}

header > nav {
  float: none;
  display: flex;
  gap: 1em;
  font-size: 17px;
  line-height: 1.5;
}

header .author-name {
  color: var(--color_plain_text);
}

header .author-name:hover {
  color: var(--color_highlight);
}

header .title {
  text-decoration: none;
  color: var(--color_highlight);
}


/* typography */

p {
  text-align: justify;
}

.posts p {
  text-align: left;
}

p a strong {
  letter-spacing: -0.03em;
}

a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

a:not(.author-name):not(.title) {
  color: blue;
  color: #028090;
  color: #1B9AAA;
  color: red;
  color: var(--color_highlight);
}

a:hover {
  text-decoration: underline;
}

em, i {   /* italics */
  font-style: italic;
  font-weight: 500;
}


/* code */

pre, pre code, code {
  font-family: inherit;
  white-space: pre;
  background: var(--color_code);
  border-radius: 0.5ch;
  font-weight: bold;
}

pre {
  padding: 1.5ch;
  overflow-x: auto;
}

pre code {
  font-size: 90%;
}

:not(pre) > code {  /* inline code */
  font-size: 90%;
  font-weight: normal;
  padding-left: 0.3ch;
  padding-right: 0.3ch;
}


/* figures and images */

figure {
  margin: auto;
  padding: 0;
  width: 100%;
}

img {
  border: none; 
  max-width: 100%;
  height: auto;
  display: block;
  border: 1px solid var(--color_plain_text);
}

figure img {
  width: 100%;
}

img.pixel, canvas.pixel {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}


/* other */

hr {
  display: block;
  border: 0;
  border-top: 1px solid var(--color_gray);
  padding: 0;
}

sup {
  vertical-align: 0.3em;
  font-size: 0.65em;
}   

blockquote {
  border-left: 4px solid var(--color_gray);
  padding: 0.05em 8px;
}

blockquote div {
  text-transform: none;
  text-align: right;
  width: 100%;
}

/* tables */

table {
  border-collapse: collapse;
  width: 100%;
  font-family: inherit;
  font-size: 1rem;
  line-height: 1.4;
}

table, th, td {
  border: 1px solid #666;
}

th, td {
  padding: 0.5em 1em;
  text-align: left;
  vertical-align: top;
}

th {
  background-color: #eee;
  font-weight: bold;
}

tr:hover {
  background-color: #f1f1f1;
}

caption {
  caption-side: bottom;
  text-align: left;
  padding-top: 0.5em;
}


/* mobiles */

@media (max-width: 500px) {
  * {
    font-size: 14px;
  }

  body {
    padding: 1em;
  }

  header {
    flex-direction: column;
    align-items: flex-start;
  }

  header > nav {
    flex-wrap: wrap;
    gap: 0;
  }

  table {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    border: none;
    box-shadow: none;
    padding: 0;
  }

  ul, ol {
    list-style-position: outside;
    padding-left: 2em;
  }

  .separator::after {
    content: ":";
    margin: 0 0.25em;
  }
}   
